@model OdalarUpdateDTO
<div class="card">
    <div class="card-header">
        <h3>@Model.OdaNo Nolu Oda Güncelleme</h3>
        <div class="card-header">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="Oda" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id">
            <label style="vertical-align:sub">Oda No : </label>
            <div class="input-group mb-3 ">
                <input type="OdaNo" asp-for="OdaNo" class="form-control" placeholder="OdaNo">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="text-danger" asp-validation-for="OdaNo"></span>
                    </div>
                </div>
            </div>
            <label>Kişi sayisi</label>
            <div class="input-group mb-3">

                <input type="text" asp-for="KisiSayisi" class="form-control" placeholder="Kisi Sayisi">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="text-danger" asp-validation-for="KisiSayisi"></span>
                    </div>
                </div>
            </div>
            <label>Durum</label>
            <div class="input-group mb-3">

                <input type="text" asp-for="Durum" class="form-control" placeholder="Durum">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="text-danger" asp-validation-for="Durum"></span>
                    </div>
                </div>
            </div>
            <label>Kullanici Id</label>
            <div class="input-group mb-3">

                <input type="text" asp-for="KullaniciId" class="form-control" placeholder="Kullanici Adi">
                <div class="input-group-append">
                    <div class="input-group-text">

                        <span class="text-danger" asp-validation-for="KullaniciId"></span>
                    </div>
                </div>
            </div>




            <label>Oda Fiyatlari</label>
            <input type="text" asp-for="OdaFiyatlari" class="form-control" placeholder="Oda Fiyatlari">

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="text-danger" asp-validation-for="OdaFiyatlari"></span>
                </div>
            </div>


            <label>Rezervasyonlari</label>
            <input type="text" asp-for="Rezervasyonlari" class="form-control" placeholder="Rezervasyonlari">

            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="text-danger" asp-validation-for="Rezervasyonlari"></span>
                </div>
            </div>



            <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>